.container {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px 0;
}

.icon {
  width: 45px;
  height: 45px;
}

.link {
  margin: 0 1.5rem;
}

@media (max-width: 768px) {
  .link {
    margin: 0 0.75rem;
  }

  .icon {
    width: 35px;
    height: 35px;
  }
}
