html,
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
  background-color: black;
  font-family: sans-serif;
}

h1 {
  font-family: 'Hecho A Mano', sans-serif;
  font-size: 5.5rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@font-face {
  font-family: 'Hecho A Mano';
  src: url('./assets/HechoAMano-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
